<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <div class="container-fluid">
        <h2>Add a review</h2>
        <form action = "{% url "djangoapp:add_review" dealer_id %}" method ="POST">
            <div class="form-group">
                <label for="userInput">Enter your name</label>
                <input type="text" class="form-control" id="userInput" name="name" value="{{user.first_name}} {{user.last_name}}" required>
            </div>
            <br><br/>
            <div class="form-group">
                <label for="reviewInput">Enter the review content</label>
                <textarea class="form-control" id="reviewInput" placeholder="Your review here..." name="review" required></textarea>
            </div>
            <br><br/>
            <div class="form-group">
                <label for="purchasestatus">Have you purchased this car? Select infomation below only if checked</label>
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasestatus">
            </div>
            <br><br/>
            <div class="form-group">
                <label for="purchaseDateInput">Select Your Purchase Date: </label>
                <input class="form-check-input" type="date" name="purchasedate" id="purchaseDateInput">
            </div>
            <br><br/>
            <div class="form-inline">
                <label for="car"><strong>Select your car (model-make-year):</strong></label>
                <select id="car" name="car" class="form-control ml-2" required>
                    {% for car in cars %}
                    <option selected value={{car.id}}>{{ car.name }}-{{ car.make.name }}-{{ car.year | date:"Y" }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    </body>
</html>
